@import '../variable.scss';

.page {
  @include font-pathway-extreme;

  background: $color-main;
  color:$color-second;
  min-height: 100vh;

  &-wrapper {
    padding: 15px 0;
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
}
.loader {
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}