@import '../../../variable.scss';

.error {
  text-align: center;
  transition: .5s;
  font-size: 15px;
  position: relative;
  background: $color-second;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-btn {
    width: 3%;
    border: none;
    font-size: 30px;
    position: absolute;
    top: 10%;
    right: 15px;
    font-weight: 500;
    transition: .5s;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: none;
      color:red;
    }
  }
  &-text {
    margin: 0 auto;
    font-size: 20px;
    color: $color-main;
  }
}
